<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>About Us</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='IQ.jpg') }}" height="70px" width="70px" alt="HomeIQ"></a>
        </div>

        <nav id="nav">
            <ul>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="about-us">
        <div class="about-us-section">
            <div class="about-us-square">
                <!-- Content for the first square -->
                <h2>Our Mission</h2>
                <p>Real Estate and Demographics, Unified. Find your dream property or next investment opportunity with HomeIQ!</p>
            </div>
        </div>
        <div class="about-us-section">
            <div class="about-us-square">
                <!-- Content for the second square -->
                <h2>Our Team</h2>
                <p>Meet our dedicated team of experts who make it all possible.</p>
            </div>
        </div>
        <div class="about-us-section">
            <div class="about-us-square">
                <!-- Content for the third square -->
                <h2>Contact Us</h2>
                <p>Feel free to reach out to us for any inquiries or collaborations.</p>
            </div>
        </div>
    </div>

</body>
</html>
