<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>My Webpage</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Home</a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="/map">Map</a></li>
            </ul>
        </nav>
    </header>
<head>
</html>