<!DOCTYPE html>


<html>

{% include 'header.html' %}

<title>Demographic Data Search</title>
</head>
<body>
    <h1>Search for Demographic Data by ZIP Code</h1>
    <form method="POST">
        <label for="zipcode">Enter ZIP Code:</label>
        <input type="text" id="zipcode" name="zipcode" required>
        <button type="submit">Search</button>
    </form>
    {% if data %}
    <h2>Demographic Data for ZIP Code {{ data.zipcode }}</h2>

    {% if img_base64 %}
    <h3>Pie Chart</h3>
    <img src="data:image/png;base64,{{ img_base64 }}" alt="Pie Chart">
    {% endif %}
    {% endif %}
    
    
</body>


</html>