<!DOCTYPE html>


<html>

{% include 'header.html' %}

<title>Demographic Data Search</title>
</head>
<body>
    <h1>Search for Demographic Data by ZIP Code</h1>
    <form method="POST">
        <label for="zipcode">Enter ZIP Code:</label>
        <input type="text" id="zipcode" name="zipcode" required>
        <button type="submit">Search</button>
    </form>
    {% if data %}
    <h2>Demographic Data for ZIP Code {{ data.zipcode }}</h2>
    <ul>
        <li>Total Population: {{ data["Total Population (13-17)"] }}</li>
        <li>Percentage White: {{ data["White"] }}</li>
        <li>Percentage Black: {{ data["Black"] }}</li>
        <li>Percentage Hispanic: {{ data["Hispanic"] }}</li>
        <li>Percentage Foreign born: {{ data["Foreign"] }}</li>
        
        <!-- Add other demographic data here -->

    </ul>
    {% else %}
    <p>No data found for the entered ZIP code.</p>
    {% endif %}
</body>

<!--
<button id="myButton" class="float-left submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "/map";
    };
</script>
-->

</html>
