<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- jsFiddle will insert css and js -->
  </head>
  <body>
    <input id="grey" type="button" value="grey" />
    <input id="classic" type="button" value="classic" />
    <input id="light" type="button" value="light" />
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_L6kO-aXyzkq3FpqMr3XzDiS0jTxbJYA&callback=initMap&libraries=&v=beta&map_ids=27887e97bd47bbcd"
        async
    ></script>
  </body>
</html>